<div id="<%= dom_id blogpost %>">
  <p>
    <strong>Title:</strong>
    <%= blogpost.title %>
  </p>

  <p>
    <strong>Aouther:</strong>
    <%= blogpost.aouther %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= blogpost.content %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= blogpost.publish_date %>
  </p>

</div>
